body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    text-align: center; /* Center text */
    margin: 0;
    
}
.Logo {
    display: block;
    margin: 20px auto;
    height: 50vh; }

.topMedusa{
    position: absolute;
    top:0%;
    right:90%;
    font-size: 1vw; 
    
}
.MEDUSA {
    text-align: center;
    font-size: 7vw; 
    color: green;
    margin-top: 0px;
    margin-bottom: -3px;
}


.Dream {
    text-align: center;
    font-size: 3vw; 
    color: green;
    margin-bottom: 40px; 
    margin-top: 0px;
}


.explore-btn {

    display: block; 
    margin: 20px auto; 
    padding: 15px 15px;
    font-size: 3vw; 
    text-decoration: none;
    border-radius: 8px;
    background-color: blue;
    color: white;
    border: none;
    transition: background 0.3s ease, transform 0.2s ease;
    
}

.explore-btn:hover {
    background-color: green;
    transform: scale(1.05); }


.page {
    opacity: 0;
    transform: translateY(-50px);
    animation: slideDown 1.5s ease-out forwards;
}


@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {
    .Logo {
        height: 40vh; 
    }
    .topMedusa{
        font-size: 3vw;
        left: 10px;
    }
    .MEDUSA {
        font-size: 10vw;
    }

    .Dream {
        font-size: 5vw;
    }

    .explore-btn {
        font-size: 4vw;
        padding: 10px 20px;
    }
}
.bg-video {
    position: fixed;       /* Keeps it in the background */
    top: 0;
    left: 0;
    width: 100%;           /* Makes the video full-width */
    height: 100%;          /* Makes the video full-height */
    object-fit: cover;     /* Ensures the video covers the area without distortion */
    z-index: -1;           /* Places the video behind other content */
  }